doctype html
html
  head
    title=title
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    link(rel='stylesheet' href='/__semantic.min.css')
    script(src='/__jquery-3.1.1.min.js')
    script(src='/__semantic.min.js')
    include icons.pug
    style.

      * {
        box-sizing: border-box;
      }
      html, body {
        margin: 0;
        padding: 0px;
        #font-size: 16px;
        font-family: arial;
        height: auto;
      }
      html{
        min-height: 100%;
      }
      #progress_bar {
        background-color: #cabc0a;
      }
      #progress_bar, #progress_bar_ct {
        border-radius: 0;
      }

      body{
        background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(247, 247, 247) 41%, rgb(241, 241, 241) 100%);
        min-height: 100%;
      }
      ul#list {
        padding: 0px;
        margin: 0px;
      }
      i.icon.conv {
        width: 2em;
      }
      li.file {
        list-style-type: none;
        line-height: 26px;
        border-bottom: solid 1px #b9b9b9;
        padding-left: 0px;
      }
      li.file a{
        text-decoration: none;
        color: #666;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
        transition: all 0.10s ease-out;
      }
      li.file a:hover{
        background-color: #eaf5f0;
        border-left: solid 4px #48bc89;
        color: #48bc89;
        font-weight: 600;
      }
      #bread {
        padding: 0px;
        margin: 0px;
        margin-right: 2em;
      }
      #bread li{
        list-style-type: none;
        float: left;
      }
      .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      }
      .clearfix { display: inline-block;}
      #bread li a {
        color: #48bc89;
        text-decoration: none;
      }
      #bread_container{
        position: fixed;
        background-color: #fff;
        padding: 10px 8px;
        z-index: 100;
        box-shadow: 0px 1px 2px #ccc;
        width: 100%;
      }

      #status{
        position: fixed;
        bottom: 0px;
        background-color: #fff;
        z-index: 100;
        box-shadow: 0px 1px 2px #ccc;
        height: 3em;
        width: 100%;
      }

      .sep {
        margin-left: 5px;
        margin-right: 5px;
        color: #666;
      }
      #file_container{
        position: relative;
      }

      .no_bar {
        padding-top: 60px;
      }

      .has_bar {
        padding-top: 85px;
      }

      #out_file {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-top: 1em;
        padding-bottom: 2px;
        text-align: center;
      }

      @media screen and (min-width: 960px) {
        #base {
          width: 660px;
          margin-left: 50%;
          left: -330px;
          position: relative;
        }

        #bread_container {
          width: 660px;
        }

        #status {
          width: 660px;
        }
      } 

      #search {
        position: absolute;
        right: 1em;
        font-size: 20px;
        color: #666;
        z-index: 2;
        margin-top: 1px;
      }
      #search_input{
        position: absolute;
        right: 2em;
        width: 0px;
        visibility: hidden;
        outline: none;
        border: solid 1px #999;
        padding: 2px;
        padding-left: 2em;
        font-size: 16px;
        color: #666;
        border-radius: 3px;
      }
      #search_input:focus{
        border: solid 1px #48bc89;
      }
      #mask{
        z-index: -1;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 60px;
        bottom: 0px;
        opacity: 0.0;
        background-color: #fff;
      }
      #search_text {
        text-align: center;
        z-index: 10001;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin-top: 200px;
        display: none;
      }

      #search_text span {
        background-color: #fff;
      }

      .loader_x,
      .loader_x:before,
      .loader_x:after {
      background: #333;
      -webkit-animation: load1 1s infinite ease-in-out;
      animation: load1 1s infinite ease-in-out;
      width: 1em;
      height: 4em;
      }
      .loader_x {
      color: #333;
      text-indent: -9999em;
      margin: 88px auto;
      position: relative;
      font-size: 11px;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
      }
      .loader_x:before,
      .loader_x:after {
      position: absolute;
      top: 0;
      content: '';
      }
      .loader_x:before {
      left: -1.5em;
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
      }
      .loader_x:after {
      left: 1.5em;
      }
      @-webkit-keyframes load1 {
      0%,
      80%,
      100% {
      box-shadow: 0 0;
      height: 4em;
      }
      40% {
      box-shadow: 0 -2em;
      height: 5em;
      }
      }
      @keyframes load1 {
      0%,
      80%,
      100% {
      box-shadow: 0 0;
      height: 4em;
      }
      40% {
      box-shadow: 0 -2em;
      height: 5em;
      }
      }
      #footer {
        height: 3em;
      }
      .hide {
        display: none;
      }
      #status_inner {
        position: relative;
        padding-top: 8px;
        color: #555;
      }
      #status_inner .ui.grid>.row {
        padding-bottom: 2px;
        padding-top: 2px;
      }

    include list_dir_script.pug

  body
    div(class='loader_x' id='search_text')
    div(id='mask')
    div(id='base')
      div(id='bread_container')
        i(class='search icon_x' id='search')
        form(id='search_form')
          input(id='search_input' placeholder='search by filename' name='key')
        ul(id='bread' class='clearfix search_related')
          each v in bread
            li
              a(href=v.url) #{v.name}
            -
            if !v.is_last
              li(class='sep') /
        div(id='action_bar' class='search_related')
          if shouldConv
            button(id='ffmpeg' class='ui icon green button tiny' onclick='ffmpeg_it("' + bread[bread.length - 1].url + '")')
              i(class='film icon conv')
              | FFmpeg
      div(id='status' class='view_on_ws hide')         
        div(class='ui top attached progress' id='progress_bar_ct')
          div(id='progress_bar' class='bar' style='transition-duration: 300ms;')
        div(id='status_inner')
          div(class='ui column grid')
            div(class='column' id='out_file')
      div(id='file_container' class=hasActionBar ? 'has_bar' : 'no_bar')
        ul(id='list')
          each v in diritems
            li(class='file')
              a(href=v.url) 
                i(class='icon_x ' + v.file_type_cls)
                span #{v.name}
      div(id='footer' class='view_on_ws hide')
